
@{
    ViewBag.Title = "AnketOkunmus";
    Layout = "~/Views/Shared/_ZalaAdmin.cshtml";
}


@section Baslik{ ANKET LİSTE }
@section sitemap{ANKET LİSTE }
@section title{ANKET LİSTE}
@model IEnumerable<ZalaBahceV1.Models.DegerlendirmeFormu>
@using ZalaBahceV1.Models;
@{ZalaDB db = new ZalaDB();
    List<DegerlendirmeFormu> list = db.DegerlendirmeFormu.Where(x => x.okundu == "Okunmadı").ToList();
}
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    ANKET LİSTE
                    <small> Siteden Gelen Anketler Burada Listelenir  </small>
                </h3>
                <!-- tools box -->
                <div class="card-tools">
                    <div class="btn-group">
                        <a href="/Mesaj/AnketListe" class="btn btn-primary">Okunmamış</a>
                        <a href="/Mesaj/AnketOkunmus/" class="btn btn-warning">Okunmuş</a>
                    </div>
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="mb-3">

                    @*------------content start------------*@


                    <table id="urunkatliste" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Ad&Soyad</th>
                                <th>Tarih</th>
                                <th>Telefon</th>
                                <th>Mail</th>
                                <th>Adres</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in list.OrderBy(x => x.ID))
                            {

                                <tr>
                                    <td>@i.adsoyad</td>
                                    <td>@i.tarih</td>
                                    <td>@i.tel</td>
                                    <td>@i.mail</td>
                                    <td>@i.adres</td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#AnketOku-@i.ID">Oku</button>
                                            <a href="/Mesaj/AnketSil?ID=@i.ID" class="btn btn-danger">Sil</a>
                                        </div>
                                    </td>
                                </tr>
                                <div class="modal fade bd-example-modal-lg" id="AnketOku-@i.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Anket Oku</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @using (Html.BeginForm("AnketOnay", "Mesaj", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
                                            {<input type="text" style="display:none;" class="form-control" id="ID" name="ID" value="@i.ID">
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Ad Soyad</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.adsoyad</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Tarih</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.tarih</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Telefon</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.tel</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Mail</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.mail</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Adres</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.adres</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Durum</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.okundu</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Sorular&Cevaplar</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Sizi Nasıl Karşıladık ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.karşılama</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Personelimizden Memnun Kaldınızmı ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.personel</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Hijyen ve Temizlik Konusunda Nasıldık ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.temizlik</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Aldıgınız Hizmet Ödediğiniz Ücreti Hak Ediyormu ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.ücret</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Zala Bahçenin Tasarımını Beğendinizmi ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.mekan</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Genel Olarak Zala Bahçeyi Nasıl Buldunuz ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.resturantgenel</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Tekrar Zala Bahçe'ye Gelmeyi Düşünürmüsünüz ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.tekrargelmek</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Zala Bahçeyi Bir Başkasına Tavsiye Edermisiniz ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.tavsiye</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Web Sitemizi Yeterli Buldunuzmu ?</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.ulasim</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Anket Notu:</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                                                                    </div>
                                                                    <textarea type="text" class="form-control" placeholder="Anket Notu" id="aciklama" name="aciklama">@i.aciklama</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Çık</button>
                                                    <a href="/Mesaj/AnketSil?ID=@i.ID" class="btn btn-danger">Sil</a>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Ad&Soyad</th>
                                <th>Tarih</th>
                                <th>Telefon</th>
                                <th>Mail</th>
                                <th>Adres</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                    </table>
                    @*--------------content end--------------*@
                </div>
                <p class="text-sm mb-0">

                </p>
            </div>
        </div>
    </div>
</div>
