
@{
    ViewBag.Title = "Iptal";
    Layout = "~/Views/Shared/_ZalaAdmin.cshtml";
}

@section Baslik{ REZERVASYON İPTAL LİSTE }
@section sitemap{ REZERVASYON İPTAL LİSTE }
@section title{ REZERVASYON İPTAL LİSTE }
<div class="row">
    @Html.Action("RezMenu", "Mesaj")
    <div class="col-9">
        @model IEnumerable<ZalaBahceV1.Models.Rezervasyon>
        @using ZalaBahceV1.Models;
        @{ZalaDB db = new ZalaDB();
            double t = Convert.ToDouble(DateTime.Now.ToString("yyyy/MM/dd"));
            List<Rezervasyon> list = db.Rezervasyon.Where(x => x.okundu == "İptal").ToList();
        }
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    IPTAL REZERVASYON LİSTE
                    <small>İptal Edilmiş Rezervasyonlar Burada Listelenir</small>
                </h3>
                <!-- tools box -->
                <div class="card-tools">
                    <button type="button" class="btn btn-tool btn-sm"
                            data-widget="collapse"
                            data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="mb-3">

                    @*------------content start------------*@


                    <table id="urunkatliste" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Ad&Soyad</th>
                                <th>Tarih/Saat</th>
                                <th>Hizmet</th>
                                <th>Telefon</th>
                                <th>Oluşturma Tarihi</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in list.OrderBy(x => x.pTarih))
                            {
                                if (Convert.ToDouble(i.pTarih) > t)
                                {
                                    <tr>
                                        @{
                                            string gün, ay, yil, tarihf;
                                            gün = i.pTarih.Substring(8, 2);
                                            ay = i.pTarih.Substring(5, 2);
                                            yil = i.pTarih.Substring(0, 4);
                                            tarihf = gün + "." + ay + "." + yil;
                                        }
                                        <td>@i.adsoyad</td>
                                        <td>@tarihf - @i.pSaat </td>
                                        <td>@i.hizmet</td>
                                        <td>@i.telefon</td>
                                        <td>@i.tarih</td>
                                        <td align="center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#RezDetay-@i.RezID">Detay</button>
                                                <a id="btnAlert" href="/Mesaj/_rezGeriAl?RezID=@i.RezID" class="btn btn-success">Geri Al</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal fade bd-example-modal-lg" id="RezDetay-@i.RezID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Geçmiş Rezervasyon Detay</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div class="row">
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Ad Soyad</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.adsoyad</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Telefon</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.telefon</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Hizmet</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.hizmet</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Kişi</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.kisi</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Tarih</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@tarihf</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Saat</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.pSaat</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Oluşturma Tarihi</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.tarih</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Durum</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.okundu</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-12">
                                                            <div class="info-box bg-light">
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text text-center text-muted">Not</span>
                                                                    <span class="info-box-number text-center text-muted mb-0">@i.aciklama</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Çık</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                                }

                                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Ad&Soyad</th>
                                <th>Tarih/Saat</th>
                                <th>Hizmet</th>
                                <th>Telefon</th>
                                <th>Oluşturma Tarihi</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                    </table>
                    @*--------------content end--------------*@
                </div>
                <p class="text-sm mb-0">

                </p>
            </div>
        </div>

    </div>
</div>