
@{
    ViewBag.Title = "MailAyar";
    Layout = "~/Views/Shared/_ZalaAdmin.cshtml";
}
@model IEnumerable<ZalaBahceV1.Models.Mail>
@section Baslik{ MAİL AYAR }
@section sitemap{MAİL AYAR }
@section title{MAİL AYAR}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("_Menu", "Mail")

            </div>
            <!-- /.col -->

            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            Gönderici Mail Listesi
                            <small>Düzenleme ve Silme İşlemleri Buradan Yapılır</small>
                        </h3>
                        <!-- tools box -->
                        <div class="card-tools">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MailEkle"><i class="fa fa-plus"></i> Mail Ekle</button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="mb-3">

                            @*------------content start------------*@


                            <table id="urunkatliste" class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th width="5%">Mail</th>
                                        <th width="15%">Port</th>
                                        <th width="5%">Host</th>
                                        <th width="41%">Alfa</th>
                                        <th width="33%">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model)
                                    {


                                    <tr>
                                        <td>@i.mail1</td>
                                        <td>@i.Port </td>
                                        <td>@i.Host</td>
                                        <td>
                                            @if (i.secili == "1")
                                                {
                                                <span class="badge bg-success">Aktif</span>
                                                }
                                                else
                                                {
                                                <span class="badge bg-danger">Pasif</span>
                                                }

                                        </td>

                                        <td align="center">
                                            <div class="btn-group">
                                                @if (i.secili == "1")
                                                    {
                                                    <a href="/Mail/MailAyarSil?ID=@i.MID" class="btn btn-danger disabled"><i class="fa fa-trash"></i> Sil</a>
                                                    }
                                                    else
                                                    {
                                                    <a href="/Mail/MailAyarSil?ID=@i.MID" class="btn btn-danger"><i class="fa fa-trash"></i> Sil</a>

                                                    }

                                                @if (i.secili == "1")
                                                    {
                                                    <a id="btnAlert" href="#" class="btn btn-warning disabled"><i class="fa fa-arrow-down"></i> Pasif</a>

                                                    }
                                                    else
                                                    {

                                                    <a id="btnAlert" href="/Mail/MailAyarAktif?ID=@i.MID" class="btn btn-success"><i class="fa fa-arrow-up"></i> Aktif</a>
                                                    }
                                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#MailDuzenle-@i.MID"><i class="fa fa-pencil-square"></i> Düzenle</button>
                                            </div>
                                        </td>




                                    </tr>

                                    <div class="modal fade bd-example-modal-lg" id="MailDuzenle-@i.MID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Mail Düzenle</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    @using (Html.BeginForm("_MailDuzenle", "Mail", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
                                                        {<input type="text" style="display:none;" class="form-control" id="MID" name="MID" value="@i.MID">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label>Mail:</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Mail Adresi" id="mail1" name="mail1" value="@i.mail1">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Sifre:</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Şifre" id="Sifre" name="Sifre" value="@i.Sifre">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Port:</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Port" id="Port" name="Port" value="@i.Port">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Hostı:</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Host" id="Host" name="Host" value="@i.Host">
                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Çık</button>
                                                            <button type="submit" class="btn btn-warning">Güncelle</button>
                                                        </div>
                                                        }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th width="15%">Kategori</th>
                                        <th width="5%">Resim</th>
                                        <th width="41%">Aciklama</th>

                                        <th width="33%">İşlem</th>

                                    </tr>
                                </tfoot>
                            </table>
                            @*--------------content end--------------*@
                        </div>
                        <p class="text-sm mb-0">

                        </p>
                    </div>
                </div>

                @*------------card end----------------*@

            </div>
        </div>
        <!-- /. box -->
    </div>
    <!-- /.col -->

</section>
<div class="modal fade bd-example-modal-lg" id="MailEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mail Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("_MailEkle", "Mail", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mail:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-check"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Mail Adresi" id="mail1" name="mail1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sifre:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-check"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Şifre" id="Sifre" name="Sifre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Port:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-check"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Port" id="Port" name="Port">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hostı:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-check"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Host" id="Host" name="Host">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Çık</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            }
        </div>
    </div>
</div>