
@model ZalaBahceV1.Models.SiteAyar
<title>@Model.title</title>
<meta name="title" content="@Model.title">
<meta name="description" content="@Model.aciklama">
<meta name="keywords" content="@Model.anahtarKelime">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="Turkish">
<meta name="revisit-after" content="7 days">
<meta name="author" content="Yasin SARICA">
<meta name="owner" content="@Model.firmaadi" />
<meta name="copyright" content="(c) 2019" />
<link rel="canonical" href="@Model.siteurl">
