@model IEnumerable<ZalaBahceV1.Models.Urun>



             @foreach (var i in Model)
                {
<div class="col-sm-3 g-margin-b-30--xs g-margin-b-0--md">
    <!-- News -->
    <article>
      
            <img class="img-responsive" src="@i.kapakResim" alt="@i.urunAd">

        <div class="g-bg-color--white g-box-shadow__dark-lightest-v2 g-text-center--xs g-padding-x-40--xs g-padding-y-40--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2">@i.urunAd</p>
            <h3 class="g-font-size-22--xs g-letter-spacing--1"><a href="/Zalabahce/MenuDetay?urunID=@i.urunID">@i.urunAd</a></h3>
            <p> @i.aciklamaOzet</p>
        </div>
    </article>
    <!-- End News -->
</div>
                }
