@model IEnumerable<ZalaBahceV1.Models.Galeri>
<!-- Portfolio -->
<div class="container g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="row g-margin-b-30--xs">
        <div class="col-sm-4">
            <div class="g-margin-t-20--md g-margin-b-40--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">ZALA BAHÇE'den Görüntüler</p>
                <h2 class="g-font-size-32--xs g-font-size-36--md">ZALA BAHÇE</h2>
                <p>Zala Bahçe, Sarıyer Tarabya'da bir hayalin neticesinde, siz değerli konuklarına eşsiz sunumları, damağınıza hitap edecek farklı tatları ve tabiki kendinizi huzurlu ve rahat hissedebileceğiniz iç ve dış mekanı ile hizmet vermek üzere kurulmuştur.
</p>
            </div>
        </div>
        <div class="col-sm-8">
            <!-- Portfolio Gallery -->
            <div id="js__grid-portfolio-gallery" class="s-portfolio__paginations-v1 cbp">
                <!-- Item -->
                @foreach (var item in Model)
                {

                <div class="s-portfolio__item cbp-item motion graphic">
                    <div class="s-portfolio__img-effect">
                        <img  style="height:201px;" src="@item.resim" alt="@item.Baslik">
                    </div>
                    <div class="s-portfolio__caption-hover--cc">
                        <div class="g-margin-b-25--xs">
                            <h3 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">@item.Baslik</h3>
                            <p class="g-color--white-opacity">@item.aciklama</p>
                        </div>
                        <ul class="list-inline g-ul-li-lr-5--xs g-margin-b-0--xs">
                            <li>
                                <a href="@item.resim" class="cbp-lightbox s-icon s-icon--sm s-icon--white-bg g-radius--circle" data-title="@item.Baslik">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                }
                <!-- End Item -->
            </div>
            <!-- End Portfolio Gallery -->
        </div>
    </div>
</div>
<!-- End Portfolio -->

