
@{
    ViewBag.Title = "Hosgeldiniz";
}


@Html.Action("_Slider","ZalaBahce")


<div class="s-promo-block-v5 g-bg-position--center js__parallax-window" style="background: url(/Resim/Hakkimizda/zala1.jpg) 50% 0 no-repeat fixed;">
    <div class="container g-text-center--xs g-padding-y-80--xs g-padding-y-125--sm">
        <div class="g-margin-b-80--xs">
            <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white">Hemen Rezervasyon Oluştur</h2>
        </div>
        <a href="/Rezervasyon/Index/" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50">Rezervasyon</a>
    </div>
</div>

@Html.Action("_AboutUs", "ZalaBahce")

@Html.Action("_WhatExpect", "ZalaBahce")

@Html.Action("_Category", "ZalaBahce")

@Html.Action("_Contact", "ZalaBahce")