
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ZalaBahceV1.Models.GelenMesaj
<section class="s-video-v2__bg" data-vidbg-bg="mp4: /Resim/Genel/menu.mp4, webm: /Resim/Genel/menu.mweb, poster: /Resim/Genel/menu.jpg" data-vidbg-options="loop: true, muted: true, overlay: false">
    <div class="container g-position--overlay g-text-center--xs">
        <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-250--md">
            <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">İletişim</h1>

            <!-- Form -->
                <div class="container g-bg-color--white g-box-shadow__dark-lightest-v3">
                    <div class="row">
                        <!-- Form -->
                        <div class="col-md-8 js__form-eqaul-height-v1">
                            <div class="g-padding-x-40--xs g-padding-y-50--xs">
                                <h2 class="g-font-size-24--xs g-color--primary g-margin-b-50--xs">Bize Yazın</h2>
                            @using (Html.BeginForm("İletisim", "Zalabahce", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row g-margin-b-30--xs g-margin-b-50--md">
                                        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                                            @Html.EditorFor(model => model.adsoyad, new { htmlAttributes = new { @class = "form-control s-form-v4__input g-padding-l-0--xs", placeholder = "* Ad Soyad" } })
                                              @Html.ValidationMessageFor(model => model.adsoyad,  "", new { @style = "color:red" })

</div>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control s-form-v4__input g-padding-l-0--xs", placeholder = "* Telefon" } })
                                              @Html.ValidationMessageFor(model => model.tel, "", new { @style = "color:red" })


</div>
                                    </div>
                                    <div class="row g-margin-b-50--xs g-margin-b-50--md">
                                        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control s-form-v4__input g-padding-l-0--xs", placeholder = "* Mail" } })
                                             @Html.ValidationMessageFor(model => model.mail, "", new { @style = "color:red" })




                                        </div>
                                      
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.konu, new { htmlAttributes = new { @class = "form-control s-form-v4__input g-padding-l-0--xs", placeholder = "* Konu" } })
                                        </div>
                                    </div>
                                    <div class="g-margin-b-50--xs">
                                        <textarea id="mesaj" name="mesaj" class="form-control s-form-v4__input g-padding-l-0--xs " rows="5" placeholder="* Mesajınız"></textarea>
                                    </div>
                                    <div class="g-text-center--xs">
                                        <input type="submit" value="Gönder" class="text-uppercase s-btn s-btn--md s-btn--primary-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs" />

                                    </div>
                            }                         
                               </div>
                        </div>
                        <!-- End Form -->
                        <!-- Contacts -->
                        <div class="col-md-4 g-bg-color--primary-ltr js__form-eqaul-height-v1">
                            @Html.Action("_IletisimBilgi", "ZalaBahce")
                        </div>
                        <!-- End Contacts -->
                    </div>
                </div>
          
            <!-- End Form -->



        </div>
    </div>
</section>


 
@Html.Action("_Harita", "ZalaBahce")

