
@{
    ViewBag.Title = "Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ZalaBahceV1.Models.Sayfalar


<div class="g-bg-position--center js__parallax-window" style="background: url(@Model.resim) 50% 0 no-repeat fixed;">
    <div class="g-container--md g-text-center--xs g-padding-y-150--xs">
        <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">@Model.baslik</p>
        <h1 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md g-color--white g-letter-spacing--1">@Model.baslik2</h1>
    </div>
</div>









<div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-80--xs g-margin-b-10--md">
        <div class="col-sm-12 g-hor-centered-row__col">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">@Model.baslik2</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">@Model.baslik2</h2>
            <p class="g-font-size-18--sm">@Html.Raw(Model.icerik)</p>
        </div>

    </div>

</div>
@Html.Action("_WhatExpect", "ZalaBahce")

@Html.Action("HKgaleri", "ZalaBahce")

@Html.Action("_Contact", "ZalaBahce")