@model IEnumerable<ZalaBahceV1.Models.Sayac>

@foreach (var i in Model)
{
    <a href="">@i.SID</a><br />
    <a href="">@i.gün</a><br />
    <a href="">@i.ay</a><br />
    <a href="">@i.yil</a><br />
    <a href="">@i.sayi</a><br />
    <a href="">-----------------------------------------------------</a><br />

}
