<!DOCTYPE html>
<html class="no-js">
<head>
   
    <!-- Basic -->
    @*<meta name="title" content="ZALA BAHÇE | Tarabyanın Parlayan Yıldızı">
    <meta name="description" content="Zala Bahçe, Sarıyer Tarabya'da bir hayalin neticesinde, siz değerli konuklarına eşsiz sunumları, damağınıza hitap edecek farklı tatları ve tabiki kendinizi huzurlu ve rahat hissedebileceğiniz iç ve dış mekanı ile hizmet vermek üzere kurulmuştur.">
    <meta name="keywords" content="tarabya,Cafe,Resturant,Zala,Bahçe,ZalaBahçe,istanbul,latte,kahvaltı,mocha,pizza">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Turkish">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="Yasin SARICA">
    <meta name="owner" content="Zala Bahçe" />
    <meta name="copyright" content="(c) 2019" />*@


    @Html.Action("_Meta", "ZalaBahce")




    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

   


    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/themify/themify.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/global/global.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">


  



</head>
<body>

    <header class="navbar-fixed-top s-header-v2 js__header-sticky">
        <!-- Navbar -->
        <nav class="s-header-v2__navbar">
            <div class="container g-display-table--lg">
                <!-- Navbar Row -->
                <div class="s-header-v2__navbar-row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="s-header-v2__navbar-col">
                        <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <span class="s-header-v2__toggle-icon-bar"></span>
                        </button>
                    </div>
                    <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                        <!-- Logo -->
                        <div class="s-header-v2__logo">
                            <a href="/ZalaBahce/Hosgeldiniz" class="s-header-v2__logo-link">
                                @Html.Action("_Logo", "ZalaBahce")


                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                            <ul class="s-header-v2__nav">
                                <li class="s-header-v2__nav-item"><a href="/ZalaBahce/Hosgeldiniz" class="s-header-v2__nav-link">Zala Bahçe</a></li>
                                <li class="s-header-v2__nav-item"><a href="/ZalaBahce/Hakkimizda" class="s-header-v2__nav-link">Hakkımızda</a></li>
                                <li class="s-header-v2__nav-item"><a href="/ZalaBahce/MenuKategori" class="s-header-v2__nav-link">Menu</a></li>
                                <li class="s-header-v2__nav-item"><a href="/Rezervasyon/Index" class="s-header-v2__nav-link">Rezervasyon</a></li>
                                @Html.Action("_UstMenu", "ZalaBahce")
                                <li class="s-header-v2__nav-item"><a href="/ZalaBahce/İletisim" class="s-header-v2__nav-link">İletişim</a></li>
                            </ul>
                        </div>
                        <!-- End Nav Menu -->
                    </div>
                </div>
                <!-- End Navbar Row -->
            </div>
        </nav>
        <!-- End Navbar -->
    </header>

    @RenderBody()


    

    <footer class="g-bg-color--dark">
        <!-- Links -->
        <div class="g-hor-divider__dashed--white-opacity-lightest">
            <div class="container g-padding-y-80--xs">
                <div class="row">    
                    <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                        <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="/ZalaBahce/Hosgeldiniz">Anasayfa</a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="/ZalaBahce/Hakkimizda">Hakkımızda</a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="/ZalaBahce/Menu?kategoriID=0">Menü</a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="/Rezervasyon/Index">Rezervasyon İşlemleri</a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="/ZalaBahce/İletisim">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                        <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                            @Html.Action("_LSosyal","ZalaBahce")
                        </ul>
                    </div>
                    <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                        <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                            
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="/Memnuniyet/Hosgeldiniz">Memnuniyet Anketi</a></li>
                            <li><a class="g-font-size-15--xs g-color--white-opacity" href="/ZalaBahce/Galeri">ZALA BAHÇE'den Görüntüler</a></li>

                            @Html.Action("_AltMenu", "ZalaBahce")


                        </ul>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                        <h3 class="g-font-size-18--xs g-color--white">ZALA BAHÇE | Cafe &amp; Bistro</h3>
                        <p class="g-color--white-opacity">@Html.Action("_LHozet","ZalaBahce")</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Links -->
        <!-- Copyright -->
        <div class="container g-padding-y-50--xs">
            <div class="row">
                <div class="col-xs-6">
                    <a href="/ZalaBahce/Hosgeldiniz">
                        @Html.Action("_LogoFooter", "ZalaBahce")


                    </a>
                </div>
                <div class="col-xs-6 g-text-right--xs">
                    <p class="g-font-size-14--xs g-margin-b-0--xs g-color--white-opacity-light"><a href="#">ZALA BAHÇE</a> Design &amp; Development <a href="https://www.instagram.com/saricayasin/">SRC</a></p>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </footer>
    <!--========== END FOOTER ==========-->
  

    <!-- Back To Top -->
    <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>
    <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
    <!-- Vendor -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.back-to-top.min.js"></script>
    <script type="text/javascript" src="/vendor/scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="/vendor/vidbg.min.js"></script>
    <script type="text/javascript" src="/vendor/swiper/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.wow.min.js"></script>
    <!-- General Components and Settings -->
    <script type="text/javascript" src="/js/global.min.js"></script>
    <script type="text/javascript" src="/js/components/header-sticky.min.js"></script>
    <script type="text/javascript" src="/js/components/scrollbar.min.js"></script>
    <script type="text/javascript" src="/js/components/swiper.min.js"></script>
    <script type="text/javascript" src="/js/components/portfolio-4-col-slider.min.js"></script>
    <script type="text/javascript" src="/js/components/wow.min.js"></script>
    <!--========== END JAVASCRIPTS ==========-->
    @RenderSection("script", false)


    @Html.Action("_WhatsApp", "ZalaBahce")








  


   
</body>
</html>