<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> S R C | @RenderSection("title", false)</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/Content/PagedList.css">

    <!-- Daterange picker -->
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- fullCalendar 2.2.5-->
    <link rel="stylesheet" href="/plugins/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/plugins/fullcalendar/fullcalendar.print.css" media="print">
    <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">

    <script src="/plugins/chartjs-old/Chart.min.js"></script>



    <script src="/dist/sweetalert2.all.min.js"></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->


    <link href="/dist/sweetalert2.css" rel="stylesheet" />


    @RenderSection("head", false)
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Admin/Index" class="nav-link">Başlangıç</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="" class="nav-link">@DateTime.Now.ToShortDateString()</a>
                </li>
               
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <div class="input-group-append">

                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->         
               @Html.Action("_GelenMesajlar", "Mesaj")
             
                  
               @Html.Action("_BildirimPaneli", "Mesaj") 
                

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                       @if (Session["Yetki"].ToString() == "Yetkili")
                       {
                        <div class="dropdown-divider"></div>
                        <a href="/Admin/SiteAyar" class="dropdown-item">
                            <i class="fa fa-cogs"></i>  Site Ayarları
                            <span class="float-right text-muted text-sm">|</span>
                        </a>
                       }
                       
                        <div class="dropdown-divider"></div>
                        <a href="/Admin/Profil" class="dropdown-item">
                            <i class="fa fa-users"></i>  Profil Ayarları
                            <span class="float-right text-muted text-sm">|</span>
                        </a>

                        <div class="dropdown-divider"></div>
                        <a href="/Admin/Cikis" class="dropdown-item">
                            <i class="fa fa-close"></i>  Çıkış Yap
                            <span class="float-right text-muted text-sm">|</span>
                        </a>
                        <div class="dropdown-divider"></div>

                    </div>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="" class="brand-link text-center"> 
                <span class="brand-text font-weight-light text-center"><i class="fa fa-diamond" aria-hidden="true"></i><b>S R C</b> ADMİN</span><br />
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    
                    <div class="info">
                      
                            <span style="color:white;" class="brand-text font-weight-light"><i class="fa fa-user" aria-hidden="true"></i> @Session["kullanici"].ToString()</span>
                            <br />
                            <span style="color:white;" class="brand-text font-weight-light"><i class="fa fa-flag" aria-hidden="true"></i> @Session["Yetki"].ToString()</span>
</div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->



                        <li class="nav-item">
                            <a href="/Admin/Index" class="nav-link active">
                                <i class="nav-icon fa fa-dashboard"></i>
                                <p>
                                    BAŞLANGIÇ
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-pie-chart"></i>
                                <p>
                                    ETKİLEŞİM

                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Mesaj/Hosgeldiniz/" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Rezervasyonlar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Mesaj/MesajListe" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Gelen Mesajlar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Mesaj/AnketListe" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Anketler</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
@if (Session["Yetki"].ToString() == "Yetkili")
{
                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-pie-chart"></i>
                                <p>
                                    MAİL 

                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Mail/GonderilenMail" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Gönderilen Mailler</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Mail/MailGonder" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Mail Gönder</p>
                                    </a>
                                </li>

                               

                                <li class="nav-item">
                                    <a href="/Mail/TopluMailGonder" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Toplu Mail Gönder</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Mail/CCListe" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>CC Mail</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Mail/MailAyar" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Gönderici Mail Ayarları</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Mail/MailDB" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Mail Veritabanı</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-pie-chart"></i>
                                <p>
                                    ÜRÜN AYARLARI

                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Kategori/Index" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Kategori Ayarları</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Urun/UrunListe" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Urun Ayarları</p>
                                    </a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="/Urun/UrunEkle" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Urun Ekle</p>
                                    </a>
                                </li>*@
                            </ul>
                        </li>

                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-pie-chart"></i>
                                <p>
                                    İLETİŞİM AYARLARI

                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Iletisim/BilgiDuzenle?ID=1" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>İletişim Bilgi Ayarları</p>
                                    </a>
                                </li>
                              
                                <li class="nav-item">
                                    <a href="/Iletisim/Sosyal" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Sosyal Ayarlar</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview ">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-pie-chart"></i>
                                <p>
                                    SAYFA AYARLARI

                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Sayfa/SayfaEkle" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Sayfa Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Sayfa/SayfaListele" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Sayfa Listele</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Hakkimizda/HakkimizdaDuzenle?HID=1" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Hakkımızda Ayarları</p>
                                    </a>
                                </li>

                                @Html.Action("_SayfaListe", "Sayfa")


                            </ul>
                        </li>

                        <li class="nav-header">DİĞER AYARLAR</li>
                        @* site ayarları *@

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-info"></i>
                                <p>
                                    Slayt Ayarları
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Slayt/Index" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Slayt Listele</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Slayt/SlaytEkle" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Slayt Ekle</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-info"></i>
                                <p>
                                    Galeri Ayarları
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Galeri/ResimListele" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Resim Listele</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Galeri/ResimEkle" class="nav-link">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>Resim Ekle</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Hizmetler/Index" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-info"></i>
                                <p>Hizmetler Ayarları</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Diger/NelerVarListe" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-info"></i>
                                <p>Sizi Ne Bekliyor Ayarları</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Diger/Markalar" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-info"></i>
                                <p>Marka Ayarları</p>
                            </a>
                        </li>
                        <li class="nav-header">İŞLEMLER</li>
                        <li class="nav-item">
                            <a href="/Diger/LOG" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-warning"></i>
                                <p>LOG</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/SiteAyar" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-warning"></i>
                                <p>SİTE AYARLARI</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Kullanici" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-warning"></i>
                                <p>KULLANICI AYARLARI</p>
                            </a>
                        </li>
}
                        <li class="nav-item">
                            <a href="/Admin/Cikis" class="nav-link">
                                <i class="nav-icon fa fa-circle-o text-danger"></i>
                                <p>ÇIKIŞ YAP</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@RenderSection("baslik", false)</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/Admin/Index">Başlangıç</a></li>
                                <li class="breadcrumb-item active">@RenderSection("sitemap", false)</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2018 SRC ADMİN</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.3-alpha
            </div>
        </footer>


    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
  $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap4.js"></script>

    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script src="/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/plugins/select2/js/select2.full.min.js"></script>








    <script>
            $(function () {

                $('#urunkatliste').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });

                $('#dene').DataTable({
                    "paging": false,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true
                });
            });
    </script>
    @RenderSection("script", false)
    <script>
        $(function () {
            //Add text editor
            $('#Mesaj').summernote()
            $('.select2').select2()
            $('[data-mask]').inputmask()

        })

    </script>
</body>
</html>





